<main class="d-flex flex-nowrap ">

  <div class="d-flex flex-column flex-shrink-0 p-3 text-success-emphasis bg-success-subtle border border-success-subtle rounded-3" style="width: 280px;">
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a  class="nav-link active" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#Dashboard"/></svg>
          Dashboard
        </a>
      </li>
      <li>
        <a  class="nav-link text-black">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#Heroes"/></svg>
          Heroes
        </a>
      </li>
      <li>


