.id{
    color: blue;
    font-family:'Times New Roman';
    font-weight: bold;
}
.name{
    font-family:'Times New Roman';
    color: blue;
    font-weight: bold;
}
.descripcion{
    font-family:'Times New Roman';
    color: rgb(0, 0, 0);
    font-weight: bold
    
}
.medida{
    font-family:'Times New Roman';
    color: blue;
    font-weight: bold
}
.peso{
    font-family:'Times New Roman';
    color: blue;
    font-weight: bold
}
.lista-heroes li{
    display: inline;
    padding: 10px;
}
.lista-heroes{
    padding: 10px;
    margin: 10px;
}
.badge{
    border: 1rem rgb(10, 10, 10);
    background-color: aquamarine;
}
.button{
    border: 5rem rgb(10, 10, 10);
    background-color: rgb(48, 153, 118);
}

.example-card{
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    height: 200px;
    width: 400px;
    max-width: 300px;
    margin: 25px;
    background-color: lightgrey;
    color: black;
    text-align: center;
    }

.descripcion{
    display: flex;
}

