

<h2>My Heroes</h2>
    <ul class ="lista-heroes" >
    <li *ngFor = "let hero of heroes">
        <button type="button" (click)="onSelected(hero)" class="button"[ngClass]="buttonClass"
        (mouseenter)="changeButtonClass('mouseenter')"
        (mouseleave)="changeButtonClass('mouseleave')"
        (mousewheel)="changeButtonClass('mousewheel')" >
            <span class='badge'>{{hero.id}}</span>
            <span class="name">{{hero.name}}</span>
        </button>
    </li>
    
<table class="table table-striped">
    <thead >
      <tr >
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Medida</th>
        <th scope="col">Peso</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let hero of heroes" >
        <th>{{hero.id}}</th>
        <td>{{hero.name}}</td>
        <td>{{hero.descripcion}}</td>
        <td>{{hero.medida}}</td>
        <td>{{hero.peso}}</td>
      </tr>
    </tbody>
  </table>

<div class="container text-center">
  <div class = "row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3"  *ngFor = "let hero of heroes" >
      <mat-card class="example-card">
        <mat-card-header>
          <div class="hero name">
            <img src="" alt="{{hero.name}}">
          </div>
        </mat-card-header>
        <mat-card-content>
          <span class='hero'>{{hero.id}}</span>
          <span class='name'>{{hero.name}}</span>
          <span class='descripcion'>{{hero.descripcion}}</span>
          <a class="btn"[ngClass]="buttonClass"
          (mouseenter)="changeButtonClass('mouseenter')"
          (mouseleave)="changeButtonClass('mouseleave')"
          (mousewheel)="changeButtonClass('mousewheel')"
          >Regresar</a>
        </mat-card-content>
        </mat-card>
    </div>
  </div>
</div>
